<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="../stylesheets/style.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script type="text/javascript" src="../javascripts/search.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    </head>
    <body>
        <div class="text-sm-center">
            <h2>인플루엔서 이용 규정</h2>
            <p>인플루엔서 이용 규정은 다음과 같다.</p>
            <br>
            <p>(을)인플루언서 A는 (갑)광고주 B가 제시한 Conversion Action을 팔로워들로 부터 유도하고 이를 트래킹 한 결과에 따라 보상을 받는다. <br>모든 내용은 블록체인과 자체 DB에 저장되기 때문에 이의제기는 불가하다.</p>
        </div>
    </body>
</html>
